
@model FinalProject.ViewModels.ViewLocationsViewModel
@{
    ViewData["Title"] = "All Locations";
}

<h1>All Locations</h1>
<br />
<form asp-controller="location" asp-action="addlocation" method="post"><input type="submit" class="btn-primary" value="Add Location" /></form>
<br />
<form asp-controller="Location" asp-action="Export">
    <input type="submit" class="btn-primary" value="Export to CSV" />
</form>

<br />
<table class="table-striped">
    <tr>
        <th><a asp-controller="Location" asp-action="SortByMW">Minimum Wage</a></th>
        <th><a asp-controller="Location" asp-action="SortByLocationName">Location Name</a></th>
        <th><a asp-controller="Location" asp-action="SortByAddress">Address</a></th>
        <th><a asp-controller="Location" asp-action="SortByCity">City</a></th>
        <th><a asp-controller="Location" asp-action="SortByCounty">County</a></th>
        <th><a asp-controller="Location" asp-action="SortByState">State</a></th>
        <th><a asp-controller="Location" asp-action="SortByZIP">ZIP</a></th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    @foreach (var location in Model.WageLocations)
    {
        <tr>
            <td>$@location.Wage</td>
            <td>@location.LocationName</td>
            <td>@location.Address</td>
            <td>@location.City</td>
            <td>@location.County</td>
            <td>@location.State</td>
            <td>@location.ZIP</td>
            <td><form asp-controller="location" asp-action="EditLocation" asp-route-id="@location.LocationID" method="post"><input type="submit" value="Edit" class="btn-secondary" /></form></td>
            <td><form asp-controller="Location" asp-action="DeleteLocation" asp-route-id="@location.LocationID " method="post"><input type="submit" value="Delete" class="btn-secondary" /></form></td>
        </tr>
    }
</table>