@model FinalProject.ViewModels.ViewCityCountyWagesViewModel;
@{
    ViewData["Title"] = "SeeCityCountyWage";
}

<h1>Placeholder for state name</h1>

<h3>City Minimum Wages</h3>
<table class="table-striped">
    <tr>
        <th>City Name</th>
        <th>State Name</th>
        <th>Minimum Wage</th>
        <th>Effective Date</th>
    </tr>
    <tr>
        @foreach (var city in Model.CityWage)
        {
            <td>@city.City</td>
            <td>@city.State</td>
            <td>@city.MinWage</td>
            <td>@city.EffectiveDate</td>
        }
    </tr>
</table>

<h3>County Minimum Wages</h3>
<table class="table-striped">
    <tr>
        <th>County Name</th>
        <th>State Name</th>
        <th>Minimum Wage</th>
        <th>Effective Date</th>
    </tr>
    <tr>
        @foreach (var county in Model.CountyWage)
        {
            <td>@county.County</td>
            <td>@county.State</td>
            <td>$@county.MinWage</td>
            <td>@county.EffectiveDate</td>
        }
    </tr>
</table>

